<div class="wrapper">
  <div class="page">
    <mat-table [dataSource]="dataSource" class="page__table mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="baseURL">
        <mat-header-cell *matHeaderCellDef>Domain</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.URL }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.text }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="addedBy">
        <mat-header-cell *matHeaderCellDef>Added By</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.addedBy">{{ element.addedBy.login }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="added">
        <mat-header-cell *matHeaderCellDef>Added</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.added | date: "dd/MM/yy" }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [length]="100"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
