.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;

  & .writer {
    width: 1200px;
    position: relative;

    &__info {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }

    &__table {
      width: 100%;

      & .mat-cell,
      & .mat-header-cell {
        vertical-align: middle;
        padding: 0 8px;
        line-break: anywhere;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }
    }

    &__table-action {
      padding: 8px 0;

      & button {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.cell {
  &__action {
    display: flex;
    justify-content: flex-end;
    width: 50px;
  }
}
